@font-face {
  font-family: 'iconos';
  src:  url('../fonts/icomoon.eot?bfd754');
  src:  url('../fonts/icomoon.eot?bfd754#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bfd754') format('truetype'),
    url('../fonts/icomoon.woff?bfd754') format('woff'),
    url('../fonts/icomoon.svg?bfd754#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconos' !important;
  font-size: 1.7em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_edit_workflows:before {
  content: "\e93d";
}
.icon-icon_activities:before {
  content: "\e900";
}
.icon-icon_add-files-light:before {
  content: "\e901";
}
.icon-icon_arrow-down1:before {
  content: "\e902";
}
.icon-icon_arrow-down2:before {
  content: "\e903";
}
.icon-icon_arrow-left:before {
  content: "\e904";
  color: #c4c4c4;
}
.icon-icon_arrow-next:before {
  content: "\e905";
}
.icon-icon_arrow-prev:before {
  content: "\e906";
}
.icon-icon_arrow-right:before {
  content: "\e907";
}
.icon-icon_attach:before {
  content: "\e908";
}
.icon-icon_bell:before {
  content: "\e909";
}
.icon-icon_calendar .path1:before {
  content: "\e90a";
  color: rgb(153, 153, 153);
}
.icon-icon_calendar .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(1, 154, 64);
}
.icon-icon_check:before {
  content: "\e90c";
}
.icon-icon_clock:before {
  content: "\e90d";
  color: #009a3c;
}
.icon-icon_clock_exclamate:before {
  content: "\e90e";
}
.icon-icon_clock_exclamate2 .path1:before {
  content: "\e90f";
  color: rgb(1, 154, 64);
}
.icon-icon_clock_exclamate2 .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(1, 154, 64);
}
.icon-icon_clock_exclamate2 .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(1, 154, 64);
}
.icon-icon_clock_exclamate2 .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_clock_negate:before {
  content: "\e913";
}
.icon-icon_cloud:before {
  content: "\e914";
}
.icon-icon_comments:before {
  content: "\e915";
  color: #8a8c8e;
}
.icon-icon_commerce:before {
  content: "\e916";
}
.icon-icon_copy:before {
  content: "\e917";
  color: #999;
}
.icon-icon_details:before {
  content: "\e918";
  color: #999;
}
.icon-icon_download:before {
  content: "\e919";
}
.icon-icon_download-light:before {
  content: "\e91a";
}
.icon-icon_ellipse-point:before {
  content: "\e91b";
}
.icon-icon_files:before {
  content: "\e91c";
}
.icon-icon_files2:before {
  content: "\e91d";
}
.icon-icon_history:before {
  content: "\e91e";
  color: #8a8c8e;
}
.icon-icon_home:before {
  content: "\e91f";
  color: #fff;
}
.icon-icon_location:before {
  content: "\e920";
}
.icon-icon_mail:before {
  content: "\e921";
}
.icon-icon_mail-light:before {
  content: "\e922";
}
.icon-icon_menu:before {
  content: "\e923";
  color: #fff;
}
.icon-icon_open:before {
  content: "\e924";
  color: #999;
}
.icon-icon_password:before {
  content: "\e925";
}
.icon-icon_pdf:before {
  content: "\e926";
  color: #da251c;
}
.icon-icon_pencil:before {
  content: "\e927";
  color: #999;
}
.icon-icon_phone:before {
  content: "\e928";
}
.icon-icon_play:before {
  content: "\e929";
}
.icon-icon_plus:before {
  content: "\e92a";
}
.icon-icon_plus2:before {
  content: "\e92b";
}
.icon-icon_ruc:before {
  content: "\e92c";
}
.icon-icon_search:before {
  content: "\e92d";
}
.icon-icon_send:before {
  content: "\e92e";
}
.icon-icon_share:before {
  content: "\e92f";
  color: #999;
}
.icon-icon_signature:before {
  content: "\e930";
  color: #fff;
}
.icon-icon_sort:before {
  content: "\e931";
}
.icon-icon_sort2:before {
  content: "\e932";
}
.icon-icon_three-bullets:before {
  content: "\e933";
  color: #8a8c8e;
}
.icon-icon_three-bullets-vertical:before {
  content: "\e934";
  color: #8a8c8e;
}
.icon-icon_trash-light:before {
  content: "\e935";
}
.icon-icon_upload:before {
  content: "\e936";
}
.icon-icon_upload2:before {
  content: "\e937";
  color: #8a8c8e;
}
.icon-icon_user:before {
  content: "\e938";
}
.icon-icon_user_check:before {
  content: "\e939";
}
.icon-icon_users:before {
  content: "\e93a";
}
.icon-icon_wf_settings:before {
  content: "\e93b";
}
.icon-icon_workflows:before {
  content: "\e93c";
  color: #fff;
}
