@font-face {
  font-family: 'iconos';
  src:  url('../fonts/icomoon.eot?x66fl5');
  src:  url('../fonts/icomoon.eot?x66fl5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x66fl5') format('truetype'),
    url('../fonts/icomoon.woff?x66fl5') format('woff'),
    url('../fonts/icomoon.svg?x66fl5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconos' !important;
  font-size: 1.7em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_arrow-down1:before {
  content: "\e900";
}
.icon-icon_arrow-next:before {
  content: "\e901";
}
.icon-icon_arrow-prev:before {
  content: "\e902";
}
.icon-icon_arrow-right:before {
  content: "\e903";
}
.icon-icon_bell:before {
  content: "\e904";
}
.icon-icon_calendar .path1:before {
  content: "\e905";
  color: rgb(153, 153, 153);
}
.icon-icon_calendar .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(1, 154, 64);
}
.icon-icon_clock:before {
  content: "\e907";
  color: #009a3c;
}
.icon-icon_cloud:before {
  content: "\e908";
}
.icon-icon_comments:before {
  content: "\e909";
  color: #8a8c8e;
}
.icon-icon_copy:before {
  content: "\e90a";
  color: #999;
}
.icon-icon_details:before {
  content: "\e90b";
  color: #999;
}
.icon-icon_download:before {
  content: "\e90c";
}
.icon-icon_ellipse-point:before {
  content: "\e90d";
}
.icon-icon_files:before {
  content: "\e90e";
}
.icon-icon_history:before {
  content: "\e90f";
  color: #8a8c8e;
}
.icon-icon_home:before {
  content: "\e910";
  color: #fff;
}
.icon-icon_location:before {
  content: "\e911";
}
.icon-icon_mail:before {
  content: "\e912";
}
.icon-icon_menu:before {
  content: "\e913";
  color: #fff;
}
.icon-icon_open:before {
  content: "\e914";
  color: #999;
}
.icon-icon_password:before {
  content: "\e915";
}
.icon-icon_pdf:before {
  content: "\e916";
  color: #da251c;
}
.icon-icon_pencil:before {
  content: "\e917";
  color: #999;
}
.icon-icon_phone:before {
  content: "\e918";
}
.icon-icon_plus:before {
  content: "\e919";
}
.icon-icon_plus2:before {
  content: "\e91a";
}
.icon-icon_ruc:before {
  content: "\e91b";
}
.icon-icon_search:before {
  content: "\e91c";
}
.icon-icon_share:before {
  content: "\e91d";
  color: #999;
}
.icon-icon_signature:before {
  content: "\e91e";
  color: #fff;
}
.icon-icon_sort2:before {
  content: "\e91f";
}
.icon-icon_three-bullets:before {
  content: "\e920";
  color: #8a8c8e;
}
.icon-icon_upload:before {
  content: "\e921";
}
.icon-icon_upload2:before {
  content: "\e922";
  color: #8a8c8e;
}
.icon-icon_user:before {
  content: "\e923";
}
.icon-icon_workflows:before {
  content: "\e924";
  color: #fff;
}
