@media screen and (max-width: 767px) {
  #home .content_right .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Login */
  .main-login {
    width: calc(100% - 90px);
    height: calc(100vh - 85px);
  }
  .main-login .left-side {
    display: none!important;
  }
  .main-login .left-side .img-background {
    max-height: 350px;
  }
  .main-login .right-side {
    padding-top: 1.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  .main-login .right-side figure {
    margin-bottom: 24px;
  }
  .main-login .right-side .login-box h3 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .main-login .right-side .login-box .control-group:nth-child(2) {
    margin-bottom: 12px;
  }
  .main-login .right-side .login-box .control-group:nth-child(3) {
    margin-bottom: 40px;
  }
  .main-login .right-side .login-box .form-control {
    height: 28px;
  }
  /* Profile */
  #profile .profile_info h2 {
    top: 1.3em;
  }
  #profile .profile_data {
    padding: 1.2em 1.6em 0.6em 1.6em;
  }
  #profile .profile_data .pd_into_boxcard {
    padding: 1.3em;
  }
  #profile .profile_data .box:first-child {
    padding-right: 15px;
  }
  #profile .profile_data .box:last-child {
    padding-left: 15px;
  }
  #profile .profile_data .box .box-card {
    margin-bottom: 1.2em;
  }
  #profile .profile_data .pd_into_boxcard2 {
    padding: 1.2em;
  }
  #profile .profile_data .box .box-card h4 {
    margin-bottom: .5em;
  }
  #profile .profile_data .box .box-card #edit_profile .boton {
    margin-top: 12px;
  }
}

@media screen and (max-width: 991px) {
  .box-card,
  a.box-card {
    width: 100%;
    height: 100%;
  }
  #home, #profile {
    min-height: 0px !important;
    height: auto !important;
  }
  /* Login */
  #home .slider_left .swiper-container {
    padding: 65px 0px;
  }
  /* Header */
  header .top_header {
    align-items: flex-start; 
    -webkit-align-items: flex-start;
    height: 125px;
    padding: 15px 25px 0px;
  }
  header .top_header .cnt_right .input-group {
    position: absolute;
    top: 70px;
    left: 30px;
  }
  header .top_header .cnt_right .right_links {
    position: absolute;
    top: 70px;
    right: 30px;
  }
  header .top_header .cnt_right .input-group .input-search {
    min-width: 465px;
  }
  header .top_header .button_sidebar_movil {
    display: initial;
  }
  /* Footer */
  footer .content_footer {
    height: auto;
    padding: 15px;
    text-align: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  footer .content_footer p {
    margin: 0px 0px 15px 0px;
    text-align: center;
    width: 100%;
  }
  footer .content_footer ul {
    text-align: center;
    width: 100%;
  }
  /* Home */
  #home .content_right {
    margin-top: 145px;
  }
  /* Profile */  
  #profile .profile_info .info_box {
    height: 75%;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    top: 375px;
  }
  #profile .profile_info .info_box h5.txt_ppal {
    margin-top: 30px;
  }
  #profile .profile_data {
    padding: 35px 20px;
  }
  #profile .profile_info {
    height: auto;
  }
  #profile .profile_data .box:first-child {
    padding-right: 15px;
    padding-left: 15px;
  }
  #profile .profile_data .box:last-child {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
  }
  #profile .profile_info .profile_img {
    margin-top: -44em;
  }
  /* Sidebar */
  .fixed-nav .fixed-nav-inner.open-nav {
    padding-top: 15px;
  }
  .fixed-nav .fixed-nav-inner ul a li svg,
  .fixed-nav .fixed-nav-inner ul a li i.icon-icon_menu {
    display: none;
  }
  .fixed-nav {
    min-width: 0px;
  }
  .fixed-nav .fixed-nav-inner {
    width: 0px;
  }
}

@media screen and (max-width: 575px) {
  /* Login */
  .bg-login {
    min-height: auto;
  }
  .main-login {
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
  }
  .main-login .right-side {
    padding: 15px !important;
  }
  .main-login .right-side figure img{
    max-width: 200px;
  }
  /* Header */
  header .top_header .cnt_right .input-group .input-search {
    min-width: 0;
    width: 100px;
    height: 30px;
  }
  header .top_header .cnt_right .search_input .input-group-prepend,
  header .top_header .cnt_right .button-search-custom {
    height: 30px;
  }
  header .top_header {
    padding: 15px 16px 0 16px;
  }
  header .top_header .cnt_right .input-group {
    left: 16px;
    top: 52px;
  }
  header .top_header .cnt_right .right_links {
    right: 16px;
    top: 52px;
  }
  header .top_header .cnt_right .right_links .dropdown-menu {
    left: auto !important;
    right: auto;
  }
  header .top_header .cnt_right .right_links li {
    margin-right: 6px;
  }
  header .top_header .cnt_right .right_links li:last-child {
    font-size: 12px;
  }
  header .top_header .cnt_logo a img {
    max-height: 30px;
  }
  header .top_header .cnt_right .right_links .dropdown-toggle img {
    border-radius: 30px;
    max-height: 30px;
  }
  header .top_header .cnt_right .search_input .input-group-text.icon_search i{
    font-size: 18px;
  }
  header .top_header .cnt_right .search_input .dropdown-toggle::after {
    top: 11px;
  }
  header .top_header {
    height: 90px;
  }
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu {
    min-width: 310px;
    left: 0 !important;
    right: 0;
    margin: 0 auto;
  }
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .input-group {
    position: relative;
    left: 0; 
    margin-bottom: 6px;
    top: 0;
  }
  .select_new .btn-select .btn-select-value {
    font-size: 14px;
    line-height: 17px;
    padding: 0px 10px;
    border-radius: 10px;
    white-space: nowrap;
    width: calc(100% - 37px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .m-75 {
    padding-left: 10px !important;
  }
  header .top_header .cnt_right .input-group .form-group label {
    font-size: 14px;
    line-height: 17px;
  }
  header .top_header .cnt_right .input-group .form-group,
  header .top_header .cnt_right .control-group {
    padding: 0px 8px;
  }  
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .control-group .select_new {
    margin-right: 0 !important;
  }
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu form {
    padding-right: 0 !important;
  }
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .form-control::-webkit-input-placeholder { /* Edge */
    font-size: 14px;
    line-height: 17px;
  }  
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 14px;
    line-height: 17px;
  }  
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .form-control::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .mb_mobile_15 {
    margin-bottom: 15px;
  }  
  header .top_header .cnt_right .select_new .btn-select ul {
    min-width: 200px;
    right: 0;
    left: 0;
  }
  header .top_header .cnt_right .select_new .btn-select ul li {
    font-size: 14px;
    line-height: 17px;
  }
  .btn-outline-success:not(.button-search-custom) {
    font-size: 14px;
    height: 47px;
    margin-right: 6px;
    min-width: 110px;
    justify-content: center;
    -webkit-justify-content: center;
  }
  /* Home */
  #home .slider_left .swiper-container .swiper-slide figure img {
    max-height: 300px;
  }
  #home .slider_left h1 {
    font-size: 20px;
    line-height: 25px;
    max-width: 100%;
    width: 100%;
    padding: 0px 15px;
  }
  #home .content_right {
    margin-top: 50px;
  }
  #profile {
    padding-top: 91px;  
  }
  #profile .profile_info h2 {
    top: 49px !important;
    font-size: 22px;
  }
  #profile .profile_info .profile_img {
    margin-top: 90px !important;
  }
  #profile .profile_info .profile_img img {
    max-height: 125px;
  }
  #profile .profile_info .info_box {
    top: 135px!important;
  }
  #profile .profile_info .info_box {
    height: 100% !important;
    flex-flow: column !important;
    -webkit-flex-flow: column !important;
    background-color: var(--fondoSwt)!important;
  }
  .txt_ppal,
  .txt_info,
  .txt_status {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  #profile .profile_info .info_box h5.txt_status {
    margin-top: 0px !important;
  }
  #profile .profile_data {
    padding: 135px 20px 40px !important;
  }
  #profile .profile_data .pd_into_boxcard,
  #profile .profile_data .pd_into_boxcard2 {
    padding: 2em 1em 2em 1em;
  }
  #profile .profile_data .box .box-card h4 {
    margin-bottom: 15px;
    font-size: 16px;
  }
  #profile .profile_data .box .box-card .label_info, #profile .profile_data .box .box-card .form-control {
    padding: 0px 10px;
    width: 100%!important;
    min-height: 35px !important;
    font-size: 16px !important;
  }
  #profile .profile_data .box .box-card .label_info [class^="icon-"], #profile .profile_data .box .label_info [class*=" icon-"] {
    margin-right:0px;
  }
  #profile .profile_data .box .box-card #edit_profile .controls {
    flex-flow: column;
    -webkit-flex-flow: column;
  }
  #profile .profile_data .box .box-card #edit_profile label {
    width: 100%;
    padding: 0px 0px 10px 10px;
  }
  #profile .profile_data .box .box-card h5 {
    font-size: 16px;
  }
  /* Sidebar */
  .fixed-nav .fixed-nav-inner ul a li i {
    font-size: 18px;
  }
  /* pantallas con tablas */
  .screens_with_tables {
    padding-top: 90px !important;
  }
  .screens_with_tables {
    padding-top: 125px;
  }
  .swt_box {
    width: 100% !important;
    padding: 1.5em 2em!important;
  }
  .screens_with_tables .swt_box .top_folders .folders_cards {
    padding: 20px 10px;
  }
  .content_table .div_table .div_tbody .tddiv_elements.datetime [class^="icon-"], .content_table .div_table .div_tbody .tddiv_elements.datetime [class*=" icon-"] {
    margin: 0px 5px 0px 5px;
  }
  .content_table .div_table .div_thead .thdiv_elements, .content_table .div_table .div_thead .thdiv_elements a,
  .content_table .div_table .div_tbody .tddiv_elements {
    font-size: 14px;
  }
  .content_table .div_table .div_thead .thdiv_elements a span {
    margin-left: 0px;
  }
  .screens_with_tables .swt_box .top_info h1.title {
    font-size: 18px;
    line-height: 25px;
  }
  .screens_with_tables .swt_box .top_info h2.subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .screens_with_tables .swt_box hr {
    margin: 8px 0px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body .txt_dark_gray,
  .screens_with_tables .swt_box .top_folders .card .card-body .txt_light_gray {
    font-size: 16px;
  }
  .content_table .search_button label {
    justify-content: center;
    -webkit-justify-content: center;
    margin-bottom: 2.25em;
  }
  .content_table .div_table .div_tbody .tddiv_elements {
    text-align: initial;
  }
  .screens_with_tables .swt_box .top_folders {
    margin-bottom: 1.25em;
  }
  .screens_with_tables .swt_box {
    margin-bottom:0px;
  }
  /* Modals */  
  .modal .modal-dialog {
    max-width: 565px;
  }
  .modal .modal-content .modal-body {
    padding: 20px 20px 45px 20px;
  }
  .modal .modal-content .modal-body .form-inline {
    justify-content: center;
  }
  .modal .modal-content .modal-body .form-inline .form-group label,
  .select_new .btn-select .btn-select-value {
    font-size: 16px;
  }
  .modal .modal-content .modal-body .form-inline .fechas_modal .form-control.input_date {
    font-size: 16px;
    height: 40px;
  }
  .modal .modal-content .modal-body .form-inline .form-group .label_end {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  .w-input-50 {
    max-width: initial;
  }
  .modal .modal-content .modal-header .modal-title {
    font-size: 18px;
  }
  .modal .modal-content .modal-body .filter_top {
    margin-bottom: 10px;
  }
  .modal .modal-content .modal-body .form-inline .fechas_modal .form-control.border-left {
    max-width: initial;
  }
  .modal-footer {
    justify-content: center;
  }
  .modal .modal-content .modal-body .filter_top .form-control {
    font-size: 15px;
  }
  .modal .modal-content .modal-body .cont_item,
  .modal .modal-content .modal-body .list-group .list-group-item {
    font-size: 16px;
  }
  .modal .modal-content .modal-header .modal-title,
  .modal .modal-content .modal-body p {
    font-size: 16px;
    text-align: center;
    margin: 0px;
  }
  .modal .modal-content .modal-header {
    padding: 40px 27px 0px 27px;
  }
  .modal .modal-content .modal-header hr {
    margin-top: 18px;
  }
  .modal .modal-content .modal-body .checkmark {
    height: 18px;
    width: 18px;
  }
  .dropdown-item {
    font-size: 15px;
  }
}

@media screen and (max-width: 395px) {
  /* Footer */
  .content_footer {
    font-size: 12px;
  }
}

@media screen and (min-width: 475px) and (max-width: 532px) {
  header .top_header .cnt_right .input-group .input-search {
    min-width: 0;
    width: 200px;
  }
}

@media screen and (min-width: 533px) and (max-width: 669px) {
  header .top_header .cnt_right .input-group .input-search {
    min-width: 255px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  /* Header */
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu {
    min-width: 550px;
    left: 0 !important;
    right: 0;
    margin: 0 auto;
  }
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .input-group {
    position: relative;
    top: 0;
    left: 0; 
  }
  .select_new .btn-select .btn-select-value {
    font-size: 16px;
    line-height: 19px;
    padding: 0px 10px;
  }
  .m-75 {
    padding-left: 10px !important;
  }
  header .top_header .cnt_right .input-group .form-group {
    padding: 0px 8px;
  }
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .form-control::-webkit-input-placeholder { /* Edge */
    font-size: 16px;
    line-height: 19px;
  }  
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 16px;
    line-height: 19px;
  }  
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .form-control::placeholder {
    font-size: 16px;
    line-height: 19px;
  }
  header .top_header .cnt_right .input-group .form-group label {
    font-size: 16px;
    line-height: 19px;
  }
  /* Profile */
  #profile .profile_info .info_box {
    height: 90% !important;
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
    top: 200px !important;
    background-color: var(--fondoSwt) !important;
  }
  #profile .profile_data {
    padding: 178px 20px 40px;
  }
  #profile .profile_info .info_box h5.txt_status {
    margin-top: 0px;
  }
  #profile .profile_info h2 {
    top: 48px;
  }
  #profile .profile_info .profile_img {
    margin-top: 110px;
  }
  #profile .profile_info .profile_img img {
    max-height: 175px;
  }
  /* Pantallas con tablas */
  .screens_with_tables {
    padding-top: 125px;
  }
  .swt_box {
    width: 100% !important;
    padding: 1.5em 2.875em!important;
  }
  .screens_with_tables .swt_box .top_folders .folders_cards {
    padding: 20px 10px;
  }
  .content_table .div_table .div_tbody .tddiv_elements.datetime [class^="icon-"], .content_table .div_table .div_tbody .tddiv_elements.datetime [class*=" icon-"] {
    margin: 0px 5px 0px 5px;
  }
  .content_table .div_table .div_thead .thdiv_elements, .content_table .div_table .div_thead .thdiv_elements a,
  .content_table .div_table .div_tbody .tddiv_elements {
    font-size: 14px;
  }
  .content_table .div_table .div_thead .thdiv_elements a span {
    margin-left: 0px;
  }
  /* Modals */
  .modal .modal-dialog {
    max-width: 565px;
  }
  .modal .modal-content .modal-body {
    padding: 27px 35px 45px 35px;
  }
  .modal .modal-content .modal-body .form-inline .form-group label,
  .select_new .btn-select .btn-select-value {
    font-size: 16px;
  }
  .modal .modal-content .modal-body .form-inline .fechas_modal .form-control.input_date {
    font-size: 10px;
    height: 40px;
  }
  .modal .modal-content .modal-body .form-inline .form-group .label_end {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  .w-input-50 {
    width: initial;
  }
  .modal .modal-content .modal-body .cont_item,
  .modal .modal-content .modal-body .list-group .list-group-item {
    font-size: 16px;
  }
  .modal .modal-content .modal-header .modal-title,
  .modal .modal-content .modal-body p {
    font-size: 18px;
  }
  .modal .modal-content .modal-header {
    padding: 40px 27px 0px 27px;
  }
  .modal .modal-content .modal-header hr {
    margin-top: 18px;
  }
}


@media screen and (min-width: 670px) and (max-width: 767px) {
  header .top_header .cnt_right .input-group .input-search {
    min-width: 380px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .m-75 {
    padding-left: 15px !important;
  }
  /* Header */
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu {
    min-width: 650px;
    left: 0 !important;
    right: 0;
    margin: 0 auto;
  }
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu .input-group {
    position: relative;
    top: 0;
    left: 0; 
  }
  /* Select custom */
  .select_new .btn-select .btn-select-value {
    padding-left: 15px;
  }
  /* Pantallas con tablas */
  .screens_with_tables {
    padding-top: 125px;
  }
  .swt_box {
    width: 100% !important;
    padding: 1.5em 2.875em!important;
  }
  .screens_with_tables .swt_box .top_folders .folders_cards {
    padding: 20px 10px;
  }
  .content_table .div_table .div_tbody .tddiv_elements.datetime [class^="icon-"], .content_table .div_table .div_tbody .tddiv_elements.datetime [class*=" icon-"] {
    margin: 0px 5px 0px 5px;
  }
  .content_table .div_table .div_thead .thdiv_elements, .content_table .div_table .div_thead .thdiv_elements a,
  .content_table .div_table .div_tbody .tddiv_elements {
    font-size: 14px;
  }
  .content_table .div_table .div_thead .thdiv_elements a span {
    margin-left: 0px;
  }
  /* Modals */
  .modal .modal-dialog {
    max-width: 650px;
  }
  .modal .modal-content .modal-body {
    padding: 27px 35px 45px 35px;
  }
  .modal .modal-content .modal-body .form-inline .form-group label,
  .select_new .btn-select .btn-select-value {
    font-size: 16px;
  }
  .modal .modal-content .modal-body .form-inline .fechas_modal .form-control.input_date {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .btn-success {
    font-size: 14px;
    height: 38px;
    min-width: 120px;
  }
  .box-card,
  a.box-card {
    height: 160px;
    width: 180px;
  }
  .box-card figure img {
    max-height: 80px;
  }
  .box-card h4 {
    font-size: 20px;
    line-height: 22px;
  }
  /* Login */
  .main-login {
    width: calc(100% - 144px);
    height: calc(100vh - 72px);
  }
  .main-login .right-side figure img {
    max-height: 35px;
  }
  .main-login .left-side .content h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .main-login .left-side .content h2 {
    font-size: 21px;
    line-height: 25px;
    max-width: 320px;
  }
  .main-login .left-side .img-background {
    max-height: 330px !important;
  }
  .main-login .left-side .content {
    padding-top: 6em;
  }
  .main-login .right-side .login-box {
    max-width: 225px;
  }
  .main-login .right-side .login-box h3 {
    font-size: 22px;
    margin-bottom: 38px;
  }
  .main-login .right-side .login-box .input-group-prepend {
    height: 32px;
  }
  .main-login .right-side .login-box .input-group-prepend .input-group-text [class^="icon-"], 
  .main-login .right-side .login-box .input-group-prepend .input-group-text [class*=" icon-"] {
    font-size: 1em;
  }
  .main-login .right-side .login-box .form-control {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 32px;
  }
  .main-login .right-side .login-box .form-control::-webkit-input-placeholder { /* Edge */
    font-size: 16px;
    line-height: 19px;
  }  
  .main-login .right-side .login-box .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 16px;
    line-height: 19px;
  }  
  .main-login .right-side .login-box .form-control::placeholder {
    font-size: 16px;
    line-height: 19px;
  }
  .main-login .right-side .login-box .btn-success {
    font-size: 15px;
    line-height: 19px;
    height: 36px;
  }
  .main-login .right-side .login-box .link_forget {
    font-size: 12px;
    line-height: 15px;
  }
  .main-login .right-side .login-box .control-group .form-check-label {
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
  }
  .main-login .right-side .login-box .control-group .form-check-input {
    height: 18px;
    margin: 0px 0px 0px -20px;
    width: 18px;
  }
  /* Header */
  header .top_header .cnt_right .input-group .input-search {
    min-width: 375px;
  }
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu {
    min-width: 800px;
    right: -12em;
  }
  /* Profile */  
  #profile .profile_data {
    padding: 1em 2em 1em 2em;
  }
  #profile .profile_info h2 {
    font-size: 22px;
    line-height: 25px;
    top: 2em;
  }
  #profile .profile_info .profile_img img {
    max-height: 150px;
  }
  #profile .profile_info .profile_img [class^="icon-"], 
  #profile .profile_info .profile_img [class*=" icon-"] {
    bottom: .8em;
    right: .2em;
  }
  #profile .profile_info .info_box h5 {
    font-size: 18px;
    line-height: 21px;
  }
  #profile .profile_info .info_box h5.txt_status {
    margin-top: 8px;
  }
  #profile .profile_data .pd_into_boxcard {
    padding: 2em;
  }
  #profile .profile_data .box .box-card {
    padding: 1.8em;
  }
  #profile .profile_data .box:first-child,
  #profile .profile_data .box:last-child {
    height: 40px;
    padding: 0px 15px;
    margin-bottom: 8px;
  }
  #profile .profile_data .box .box-card #edit_profile label {
    min-width: 136px;
    max-width: 136px;
  }
  #profile .profile_data .box .box-card .label_info, 
  #profile .profile_data .box .box-card .form-control {
    height: 40px;
    padding: 0px 10px;
    margin-bottom: 8px;
  }
  #profile .profile_data .box .box-card #edit_profile .controls {
    margin-bottom: 6px;
  }
  #profile .profile_data .box .box-card .form-control {
    font-size: 12px;
    margin-bottom: 0;
  }
  #profile .profile_data .box .box-card h4 {
    margin-bottom: 1em;
  }
  #profile .profile_data .box .box-card .label_info [class^="icon-"], 
  #profile .profile_data .box .label_info [class*=" icon-"] {
    font-size: 1.1em;
    margin-right:0px;
  }
  #profile .profile_data .box .box-card #edit_profile .controls {
    margin-bottom: 6px;
  }
  #profile .profile_data .box .box-card .txt {
    font-size: 14px;
  }
  #profile .profile_data .box .box-card {
    margin-bottom: 12px;
  }
  #profile .profile_data .box .box-card h4 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 6px;
  }
  #profile .profile_data .box .box-card #edit_profile .boton {
    margin-top: 20px;
  }
  #profile .profile_data .box .box-card h5 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
  }
  /* Pantallas con tablas */
  .screens_with_tables .swt_box {
    padding: 40px 50px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-header {
    height: 80px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-header img {
    max-height: 34px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body {
    padding: 8px 16px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body .txt_dark_gray {
    font-size: .9em;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body .txt_light_gray {
    font-size: .8em;
  }
  .screens_with_tables .swt_box .buttons_right .btn-outline-success {
    font-size: 14px;
    height: 36px;
    margin-right: 6px;
    min-width: 110px;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .screens_with_tables .swt_box .buttons_right .btn-outline-success [class^="icon-"], .screens_with_tables .swt_box .buttons_right .btn-outline-success [class*=" icon-"] {
    margin-right: 4px;
  }
  .screens_with_tables .swt_box .top_info h1.title {
    font-size: 19px;
  }
  .screens_with_tables .swt_box .top_info h2.subtitle {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  .content_table .div_table .div_thead .thdiv_elements, 
  .content_table .div_table .div_thead .thdiv_elements {
    padding: 0px 10px;
  }
  .content_table .div_table .div_thead .thdiv_elements, 
  .content_table .div_table .div_thead .thdiv_elements a {
    font-size: 15px;
    line-height: 17px;
  }
  .content_table .div_table .div_tbody .tddiv_elements {
    font-size: 14px;
    line-height: 16px;
  }
  .content_table .div_table .div_tbody .tddiv_elements:first-child img {
    max-height: 26px;
    max-width: 50px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body .users img {
    max-height: 25px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body .users .badge {
    height: 25px;
    width: 25px;
  }
  /* File details */
  .files_details .top_info_details {
    padding: 0px 12px 0px 20px;
  }
  .files_details .top_info_details .info_left .info_file .txt_file_name,
  .files_details .top_info_details .info_left .info_file .txt_breadcumb {
    font-size: 14px;
    line-height: 17px;
  }
  .files_details .top_info_details .info_left .left_badge {
    margin-right: 10px;
  }
  .files_details .top_info_details .actions_right .btn-outline-success {
    font-size: 14px;
    height: 36px;
    line-height: 17px;
    margin-right: 7px;
    padding: 6px 10px;
  }
  .files_details .top_info_details .actions_right .get_back {
    font-size: 18px;
    margin-left: 10px;
    padding-top: 0px;
  }
  .files_details .content_files_details .right_section {
    padding: 8px 10px;
  }
  .files_details .content_files_details .right_section .details_box .db_title {
    padding: 0px 15px;
  }
  .files_details .content_files_details .right_section .details_box .db_body {
    padding: 10px 20px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update:after {
    left: -20px;
    right: -20px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box {
    padding: 12px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .left_badge .badge {
    margin-right: 15px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .info_version .vb_title,
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .info_version .vb_updatedby {
    font-size: 15px;
    line-height: 18px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .info_version .vb_updated {
    font-size: 12px;
    line-height: 14px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .comment {
    padding: 8px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .comment .txt_name_comment,
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .comment .txt_comment {
    font-size: 15px;
    line-height: 18px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .photo {
    margin-right: 13px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .photo_right {
    margin-right: 0;
    margin-left: 9px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .comment {
    width: calc(100% - 84px);
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .photo {
    margin-left: 7px;
  }
  .files_details .content_files_details .right_section .details_box .db_body ul.list_details_files li h5 {
    font-size: 15px;
    line-height: 19px;
  }
  /* Modals */
  #modalShareFiles.modal .modal-content .modal-body .content_table .div_table .div_tbody,
  #modalShareFiles.modal .modal-content .modal-body .content_table .div_table .div_thead {
    margin: 0px -40px 0px -10px;
  }
  .modal .modal-content .modal-body .content_table .div_table .div_tbody .tddiv_elements,
  .modal .modal-content .modal-body .content_table .div_table .div_thead .thdiv_elements {
    padding: 0px 10px;
  }
  #modalShareFiles.modal .modal-content .modal-body .content_table .div_table .div_tbody .tddiv_elements {
    font-size: 13.5px;
    line-height: 16px;
  }
  #modalShareFiles.modal .modal-content .modal-body .buttons .btn {
    font-size: 14px;
    height: 36px;
    margin-right: 7px;
    width: 114px;
  }
  .modal .modal-content .modal-header.padding-equeal-body {
    padding: 27px 34px 0px 34px;
  }
  .modal .modal-content .modal-body {
    padding: 27px 34px 24px 34px;
  }
  .modal .modal-content .modal-body .mdb_breadcrumb .gray_item, 
  .modal .modal-content .modal-body .mdb_breadcrumb .green_item {    
    font-size: 18px;
    line-height: 22px;
  }
  .modal .modal-content .modal-body .list_files_cp li label:not(.cont_item) {
    font-size: 16px;
    line-height: 19px;
  }
  .content_table .div_table .div_tbody .tddiv_elements.datetime [class^="icon-"], .content_table .div_table .div_tbody .tddiv_elements.datetime [class*=" icon-"] { 
    margin: 0px 10px 0px 10px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .modal .modal-content .modal-header .modal-title {
    font-size: 20px;
    line-height: 22px;
  }
  .modal .modal-content .modal-body .list-group .list-group-item,
  .modal .modal-content .modal-body .cont_item {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1439px) {
  .btn-success {
    font-size: 14px;
    height: 38px;
    min-width: 120px;
  }
  .box-card,
  a.box-card {
    height: 165px;
    width: 190px;
  }
  .box-card figure img {
    max-height: 75px;
  }
  .box-card h4 {
    font-size: 18px;
    line-height: 20px;
  }
  /* Login */
  .main-login {
    width: calc(100% - 144px);
    height: calc(100vh - 72px);
  }
  .main-login .right-side figure img {
    max-height: 35px;
  }
  .main-login .left-side .content h1 {
    font-size: 28px;
    line-height: 30px;
  }
  .main-login .left-side .content h2 {
    font-size: 21px;
    line-height: 25px;
    max-width: 320px;
  }
  .main-login .left-side .img-background {
    max-height: 330px !important;
  }
  .main-login .left-side .content {
    padding-top: 41px;
  }
  .main-login .right-side .login-box {
    max-width: 225px;
  }
  .main-login .right-side .login-box h3 {
    font-size: 22px;
    margin-bottom: 38px;
  }
  .main-login .right-side .login-box .input-group-prepend {
    height: 32px;
  }
  .main-login .right-side .login-box .input-group-prepend .input-group-text [class^="icon-"], 
  .main-login .right-side .login-box .input-group-prepend .input-group-text [class*=" icon-"] {
    font-size: 1em;
  }
  .main-login .right-side .login-box .form-control {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 32px;
  }
  .main-login .right-side .login-box .form-control::-webkit-input-placeholder { /* Edge */
    font-size: 16px;
    line-height: 19px;
  }  
  .main-login .right-side .login-box .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 16px;
    line-height: 19px;
  }  
  .main-login .right-side .login-box .form-control::placeholder {
    font-size: 16px;
    line-height: 19px;
  }
  .main-login .right-side .login-box .btn-success {
    font-size: 15px;
    line-height: 19px;
    height: 36px;
  }
  .main-login .right-side .login-box .link_forget {
    font-size: 12px;
    line-height: 15px;
  }
  .main-login .right-side .login-box .control-group .form-check-label {
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
  }
  .main-login .right-side .login-box .control-group .form-check-input {
    height: 18px;
    margin: 0px 0px 0px -20px;
    width: 18px;
  }
  /* Header */
  header .top_header .cnt_right .search_input.dropdown .dropdown-menu {
    min-width: 900px;
  }
  header .top_header {
    height: 90px;
  }
  /* Home */
  #home {
    padding-top: 90px;
  }
  /* Profile */  
  #profile {
    padding-top: 90px;
  }
  #profile .profile_info {
    -ms-flex: 0 0 22.95%;
    flex: 0 0 22.95%;
    max-width: 22.95%;
  }
  #profile .profile_data {
    padding: 35px 35px 10px 65px;
    -ms-flex: 0 0 77.05%;
    flex: 0 0 77.05%;
    max-width: 77.05%;
  }
  #profile .profile_info h2 {
    font-size: 22px;
    line-height: 25px;
    top: 2em;
  }
  #profile .profile_info .profile_img {
    margin-top: -3em;
  }
  #profile .profile_data .pd_into_boxcard {
    padding: 2em;
  }
  #profile .profile_data .box .box-card #edit_profile .controls {
    margin-bottom: 6px;
  }
  #profile .profile_data .box .box-card #edit_profile .control-group:nth-child(4) .controls {
    margin-bottom: 0px;
  }
  #profile .profile_data .box .box-card .label_info, 
  #profile .profile_data .box .box-card .form-control {
    height: 40px;
    padding: 0px 15px;
    margin-bottom: 8px;
  }
  #profile .profile_data .box .box-card .form-control {
    font-size: 14px;
    margin-bottom: 0;
  }
  #profile .profile_data .box .box-card .label_info [class^="icon-"], 
  #profile .profile_data .box .label_info [class*=" icon-"] {
    font-size: 1.1em;
    margin-right: 1em;
  }
  #profile .profile_data .box .box-card .txt {
    font-size: 14px;
  }
  #profile .profile_info .profile_img img {
    max-height: 150px;
  }
  #profile .profile_info .profile_img [class^="icon-"], 
  #profile .profile_info .profile_img [class*=" icon-"] {
    bottom: .8em;
    right: .2em;
  }
  #profile .profile_data .box .box-card {
    margin-bottom: 16px;
  }
  #profile .profile_data .box .box-card #edit_profile label {
    min-width: 11.3em;
  }
  #profile .profile_data .box .box-card h4 {
    margin-bottom: 10px;
  }
  #profile .profile_data .pd_into_boxcard2 {
    padding: 26px;
  }
  #profile .profile_info .info_box {
    padding-top: 1.4em;
  }
  #profile .profile_info .info_box h5 {
    font-size: 18px;
    line-height: 21px;
  }
  #profile .profile_info .info_box h5.txt_status {
    margin-top: 8px;
  }
  #profile .profile_data .box .box-card #edit_profile .boton {
    margin-top: 20px;
  }
  #profile .profile_data .box .box-card h5 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  /* Sidebar */
  .fixed-nav {
    min-height: calc(100vh - 147px);
  }
  /* Pantallas con tablas */
  .screens_with_tables {
    min-height: calc(100vh - 147px);
    padding-top: 90px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-header {
    height: 84px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-header img {
    max-height: 43px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body {
    padding: 10px 18px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body .txt_dark_gray {
    font-size: .9em;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body .txt_light_gray {
    font-size: .9em;
  }
  .screens_with_tables .swt_box .buttons_right .btn-outline-success {
    font-size: 15px;
    height: 40px;
    margin-right: 11px;
    min-width: 140px;
  }
  .screens_with_tables .swt_box .top_info h1.title {
    font-size: 22px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body .users img {
    max-height: 26px;
  }
  .screens_with_tables .swt_box .top_folders .card .card-body .users .badge {
    height: 26px;
    width: 26px;
  }
  .screens_with_tables .swb_wflow {
    padding: 40px 55px;
  }
  .content_table .div_table_wfl .div_thead .thdiv_elements, 
  .content_table .div_table_wfl .div_thead .thdiv_elements a {
    font-size: 14px;
    line-height: 16px;
  }
  /* File Details */
  .files_details .content_files_details .right_section {
    padding: 15px 10px;
  }
  .files_details .content_files_details .right_section .details_box .db_title {
    padding: 0px 28px;
  }
  .files_details .content_files_details .right_section .details_box .db_body {
    padding: 14px 28px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update:after {
    left: -28px;
    right: -28px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box {
    padding: 17px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .left_badge .badge {
    margin-right: 21px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .info_version .vb_title,
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .info_version .vb_updatedby {
    font-size: 16px;
    line-height: 19px;
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .info_version .vb_updated {
    font-size: 13px;
    line-height: 15px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .comment {
    padding: 10px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .comment .txt_name_comment,
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .comment .txt_comment {
    font-size: 16px;
    line-height: 19px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .photo {
    margin-right: 18px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .photo_right {
    margin-right: 0;
    margin-left: 12px;
  }
  .files_details .content_files_details .right_section .details_box .bd_body_comments .comments .comment {
    width: calc(100% - 94px);
  }
  .files_details .content_files_details .right_section .details_box .db_body .update .version_box .photo {
    margin-left: 9px;
  }
  .files_details .top_info_details {
    padding: 0px 21px 0px 46px;
  }
  .files_details .top_info_details .info_left .left_badge {
    margin-right: 14px;
  }
  .files_details .top_info_details .actions_right .btn-outline-success {
    margin-right: 11px;
  }
  .files_details .top_info_details .actions_right .btn-outline-success:not(.button-search-custom) {
    font-size: 18px;
    height: 40px;
  }
  .files_details .top_info_details .actions_right .btn-outline-success [class^="icon-"], 
  .files_details .top_info_details .actions_right .btn-outline-success [class*=" icon-"], 
  .files_details .top_info_details .actions_right .btn-outline-success [class^="icon-"]:before, 
  .files_details .top_info_details .actions_right .btn-outline-success [class*=" icon-"]:before {
    font-size: 1em;
  }
  .files_details .top_info_details .info_left .info_file .txt_file_name,
  .files_details .top_info_details .info_left .info_file .txt_breadcumb {
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1679px) {
    
}

@media screen and (min-width: 1680px) {
  /* Profile */
  #profile .profile_info {
    -ms-flex: 0 0 32.1%;
    flex: 0 0 32.1%;
    max-width: 32.1%;
  }
  #profile .profile_data {
    -ms-flex: 0 0 67.9%;
    flex: 0 0 67.9%;
    max-width: 67.9%;
  }
}

/* Media querys para los MAX HEIGHT */
@media screen and (max-height: 657px) {
  #home,
  #profile {
    overflow: auto;
    min-height: 602px;
  }
}

@media screen and (max-height: 749px) {
  #home .slider_left figure img {
    max-height: 230px;
  }
  #home .slider_left h1 {
    font-size: 23px;
    max-width: 475px;
  }
}

@media screen and (max-height: 768px) and (min-width: 1600px) {
  /* Login */
  .main-login .left-side .img-background {
    max-height: 390px;
  }
}

@media screen and (min-width: 1551px) and (max-height: 768px) {
  /* Profile */
  #profile .profile_data {
    padding: 3em 2em 1em 4em;
  }
  #profile .profile_data .pd_into_boxcard {
    padding: 2em;
  }
  #profile .profile_data .pd_into_boxcard2 {
    padding: 1.3em 1.6em 1.3em 1.6em;
  }
  #profile .profile_info h2 {
    top: 1.5em;
  }
}
